<% include header %>

<div class="template">
  <h1 class="titels">Disclaimer</h1>
  <p class="centerText">
    Hoognodig is een mobile web applicatie ontworpen door studenten uit Artesis Plantijn te Antwerpen.
    Hoognodig is gemaakt voor educatief doeleinden.
  </p>
</div>

<% include footer %>
