  <div class="hamburger-wrapper">
    <div class="hamburger">
      <span class="hamurger-first"></span>
      <span class="hamurger-second"></span>
      <span class="hamurger-third"></span>
    </div>
    <div class="hamburger-menu">
      <a href="/" class="logo"><img src="../img/logo hoognodig 3.png"alt="logo" style= "width:200px; height:100px;"</a>
      <ul class="main-links">
        <li class="delay02"><a href="#">Mannen</a></li>
        <li class="delay03"><a href="#">Vrouwen</a></li>
        <li class="delay04"><a href="#">Betalend</a></li>
        <li class="delay02"><a href="#">Niet betalend</a></li>
        <li class="delay03"><a href="#">Gehandicapten</a></li>
        <li class="delay04"><a href="#">Luiertafel</a></li>
        <li class="delay04"><a href="#">Urinoir</a></li>
      </ul>
      <div class="secondary-links">
      <div class="row">
        <ul>
          <li><a href="#">Toilet Info</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Disclaimer</a></li>
        </ul>
      </div>
    </div>
      </div>
    </div>
  </div>
