  <div class="hamburger-wrapper">
    <div class="hamburger">
      <span class="hamurger-first"></span>
      <span class="hamurger-second"></span>
      <span class="hamurger-third"></span>
    </div>
    <div class="hamburger-menu">
      <a href="/" class="logo"><img src="../img/logo hoognodig 3.png"alt="logo" style= "width:262px; height:100px;" /></a>
      <ul class="main-links">
        <li class="delay01"><a href="/">Map</a></li>
        <li class="delay02"><a href="/alletoiletten">Alle Toiletten</a></li>
        <li class="delay03"><a href="/aboutus">Over ons</a></li>
        <li class="delay04"><a href="/disclaimers">Disclaimer</a></li>
      </div>
    </div>
