<% include header %>

<div class="template">
  <h1 class="titels">Over ons</h1>
  <p class="centerText">
      
  </p>
  <p>Wij, Mira Van der Jeugt, Kagan Ulker en Lynn Theuns, zijn laatste jaar studenten grafische en digitale media.<br><br>
Aan de hand van een project rond crossmedia technologie hebben wij een app ontworpen die mensen wegwijs maakt bij het vinden van het dichtstbijzijnde toilet in de buurt. </p>
</div>

<% include footer %>
