/*map leaflet*/
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
/*einde leaflet*/

body{
/*background:*/
}
main {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow{
  background-image: url(/img/locatieicoon.png);

}

#map{

  z-index: 10;
}
#map.hamburger-active-onmap{
  z-index: -10;
}
